.flip::before {
    content: 'Builder';
    font-size: 1.4rem;
    height: 40px;
    width: 40px;
    animation: flip 8s infinite 1.5s;
    display: inline-block;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
        content: 'Builder';
    }
    12.5% {
        transform: rotateX(90deg);
    }
    25% {
        transform: rotateX(0deg);
        content: 'Mentor.';
    }
    37.5% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(0deg);
        content: 'Strategic Thinker.';
    }
    62.5% {
        transform: rotateX(90deg);
    }
    75% {
        transform: rotateX(0deg);
        content: 'Human';
    }
    85% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        content: 'Builder';
    }
}
